

<div ng-app="Domain" id="divDomain" ng-controller="DomainCtrl">

    <div class="col-md-12">
        <div class=" training-title margin-b-10">
            Master
               <img src="~/Content/css/Images/down-arrow.png" alt="down" />
        </div>
    </div>
    <div id="divOtherMasterDtl" class="col-md-12">
    </div>

    <div id="divMasterListings" class="col-md-12">
    </div>
</div>

<script src="~/Content/Scripts/angular.js"></script>
<script src="~/Js/Domain_SubDomain.js"></script>