<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<urlMappings enabled="true">
<add url="~/someValue/" mappedUrl="~/someValue/1/"/>
</urlMappings>-->
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SplitCharacter" value="."/>

    <!--<add key="BaseUrl" value="http://rav-dsk-057:80/RMSTraining/" />-->

    <add key="BaseUrl" value="http://localhost:52884/" />

    <!--<add key="BaseUrl" value="http://rav-dsk-057:80/RMSTraining/" />-->
    <add key="OldRMSBaseUrl" value="www.google.com" />
    <add key="EmailConfigUrl" value="~\Config\EmailConfig.xml" />
    <add key="MailingOnOrOff" value="off" />
    <add key="SmtpServer" value="rainbow.rave-tech.co.idgdfgdfn" />
    <add key="Port" value="125" />
    <!--<add key ="ReportServerURL" value="http://rav-dsk-140/Reports_SQLEXPRESS/"></add>-->

    <add key ="ReportServerURL" value="http://rav-vm-srv-096/ReportServer_MSSQLSERVER2012/"></add>
    <add key="ReportExecutionService2012" value="http://rav-vm-srv-096/ReportServer_MSSQLSERVER2012/ReportExecution2005.asmx"></add>

    <!--<add key="ReportExecutionService2012" value="http://rav-vm-vdi-065:80/ReportServer_MSSQLSERVER2012/ReportExecution2005.asmx"></add>-->

    <!--<add key ="ReportServerURL" value="http://192.168.2.159/ReportServer"/>-->
    <add key="AssessmentQuestionImgPath" value="~/Assessment_Files/QuestionImg"/>
    <add key="AssessmentAnswerImgPath" value="~/Assessment_Files/AnswerImg"/>
    <add key ="LocalEmailPath" value="D:\Rave Project\Training Module MVC\RaveRMSTraining\RMS\Mails\"></add>
    <add key ="ResetRoleYesNo" value="Yes"/>
    <add key="ReportsPath" value="D:\Rpt\"></add>
    <add key="RMOGroupEmail" value ="rave.rm.group@necsws.com" />
    <add key ="EmailIdForKSSs" value="nitin.mandaikar@necsws.com" />

  </appSettings>
  <connectionStrings>
    <!--<add name="RaveHRConnectionString" connectionString="Data Source=RAV-DSK-313;Initial Catalog=RMS_11OCT2018;User ID=sa;Password=R@ve12345;Integrated Security=False" providerName="System.Data.SqlClient"/>-->
    <!--<add name="RaveHRConnectionString" connectionString="Data Source=Rav-vm-srv-008;Initial Catalog=RMS_Dev;User ID=sa;Password=R@ve54321;Integrated Security=False" providerName="System.Data.SqlClient"></add>-->
    <add name="RaveHRConnectionString" connectionString="Data Source=mum-vm-srv-18;Initial Catalog=RMSLive_Apr;User ID=sa;Password=R@ve1234;Integrated Security=False" providerName="System.Data.SqlClient"/>

    <add name="RMSAdminEntities" connectionString="metadata=res://*/Data.RMSAdmin.csdl|res://*/Data.RMSAdmin.ssdl|res://*/Data.RMSAdmin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mum-vm-srv-18;initial catalog=RMSLive_Apr;integrated security=False;user id=sa;password=R@ve1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RMS_Entities" connectionString="metadata=res://*/DbModel.csdl|res://*/DbModel.ssdl|res://*/DbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
      data source=RAV-vm-srv-008;initial catalog=RMS_Dev_Feb;user id=sa;password=RMS@12345;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <system.web>
    <globalization culture="en-AU" uiCulture="en-AU" />
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
    <authentication mode="Windows" />
    <customErrors mode="Off">
    </customErrors>
    <authorization>
      <deny users="?" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <identity impersonate="true" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!--<handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>-->
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>


    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>