<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings>
    <add key="BaseUrl" value="http://rav-vm-srv-096/home.aspx" />
    <add key="EmailConfigUrl" value="http://rav-dsk-386/RMS/Config/EmailConfig.xml" />
    <add key="MailingOnOrOff" value="off" />
    <add key="SmtpServer" value="rainbow.rave-tech.co.idgdfgdfn" />
    <add key="Port" value="25" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--<add name="RaveHRConnectionString" connectionString="Data Source=RAV-DSK-057;Initial Catalog=RMS_23042015;User ID=sa;Password=R@ve1234;Integrated Security=False" providerName="System.Data.SqlClient"></add>-->
    <add name="RaveHRConnectionString" connectionString="Data Source=RAV-vm-srv-008;Initial Catalog=RMSTraining;User ID=sa;Password=R@ve1234;Integrated Security=False" providerName="System.Data.SqlClient">
    </add>
    <!--<add name="AzManPolicyStoreConnectionString" connectionString="msxml://D:\RaveHRStore\RaveHRStore.xml"/>-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>